VITE_PRODUCT_PROFILE=deck
VITE_01EVOLVE_API_BASE_URL=https://api.01deck.01ai.com
01AI_HOME=
01DECK_OAUTH_ENABLED=false
01DECK_OAUTH_ISSUER=
01DECK_OAUTH_CLIENT_ID=
01DECK_OAUTH_AUDIENCE=
01DECK_OAUTH_SCOPES=openid profile email offline_access
01DECK_OAUTH_REDIRECT_URI=https://01deck.01ai.com/auth/callback
